<div class="m-data-box-simple">
 <div class="m-income" *ngIf="itemList && itemList.length>0">
    <div class="m-item" *ngFor="let item of itemList">
        <div class="m-item-title" *ngIf="item.title">{{item.title}}</div>
        <div class="m-item-content">
            <span *ngIf="item.countRate" class="u-count {{item.class}}">
                {{item.count | rate}}
            </span>
            <span *ngIf="!item.countRate" class="u-count {{item.class}}">
                {{item.count | numerical}}
            </span>
            <span class="u-rate {{item.class}}" [innerHTML]="item.rate | rate:true"></span>
            <div class="u-flag" *ngIf="item.flag && !item.countRate">
                标杆数值：{{item.flag | numerical}}
            </div>
            <div class="u-flag" *ngIf="item.flag && item.countRate">
                标杆数值：{{item.flag | rate}}
            </div>
        </div>
    </div>
</div>
</div>