<div class="m-coredata-title">新老构成</div>
<!--新老构成_SKU数-->
<div class="m-newold">
	<div class="m-newold-item">
		<div class="m-newold-item-title">新品SPU数&占比</div>
		<div class="m-newold-item-content">
			<span class="u-value">
				{{newoldSPUVO?.newGoodsSPU?.count | numerical}}
            </span>
			
			<span class="u-compare" [innerHTML]="newoldSPUVO && newoldSPUVO.newGoodsSPU && newoldSPUVO.newGoodsSPU.rate | rate"></span>
		</div>
	</div>
	<div class="m-newold-item">
		<div class="m-newold-item-title">老品SPU数&占比</div>
		<div class="m-newold-item-content">
			<span class="u-value">
            	{{newoldSPUVO?.oldGoodsSPU?.count | numerical}}
            </span>
			<span class="u-compare" [innerHTML]="newoldSPUVO && newoldSPUVO.oldGoodsSPU && newoldSPUVO.oldGoodsSPU.rate | rate"></span>
		</div>
	</div>
</div>
<!--新老构成_销量-->
<div class="m-newold">
	<div class="m-newold-item">
		<div class="m-newold-item-title">新品销量&amp;占比</div>
		<div class="m-newold-item-content">
			<span class="u-value">
				{{newoldPVVO?.newGoodPV?.count | numerical}}
            </span>
			<span class="u-compare" [innerHTML]="newoldPVVO && newoldPVVO.newGoodPV && newoldPVVO.newGoodPV.rate | rate"></span>
		</div>
	</div>
	<div class="m-newold-item">
		<div class="m-newold-item-title">老品销量&amp;占比</div>
		<div class="m-newold-item-content">
			<span class="u-value">
				{{newoldPVVO?.oldGoodPV?.count | numerical}}
            </span>
			<span class="u-compare" [innerHTML]="newoldPVVO && newoldPVVO.oldGoodPV && newoldPVVO.oldGoodPV.rate | rate"></span>
		</div>
	</div>
</div>
<!--新老构成_流水-->
<div class="m-newold">
	<div class="m-newold-item">
		<div class="m-newold-item-title">新品流水&amp;占比</div>
		<div class="m-newold-item-content">
			<span class="u-value">
				{{newoldAccountVO?.newGoodsAccount?.count | numerical}}
            </span>
			<span class="u-compare" [innerHTML]="newoldAccountVO && newoldAccountVO.newGoodsAccount && newoldAccountVO.newGoodsAccount.rate | rate"></span>
		</div>
	</div>
	<div class="m-newold-item">
		<div class="m-newold-item-title">老品流水&amp;占比</div>
		<div class="m-newold-item-content">
			<span class="u-value">
            	{{newoldAccountVO?.oldGoodsAccount?.count | numerical}}
            </span>
			<span class="u-compare" [innerHTML]="newoldAccountVO && newoldAccountVO.oldGoodsAccount && newoldAccountVO.oldGoodsAccount.rate | rate"></span>
		</div>
	</div>
</div>