<div class="m-coredata-title">退货情况</div>
<ul class="m-online">
	<li class="m-online-item">
		<div class="u-online-title">月退货量</div>
		<div class="m-online-content">
			<span class="u-value">
                {{returnOverallVO?.returnPV?.count | numerical}}
            </span>
			<span class="u-compare" [innerHTML]="returnOverallVO && returnOverallVO.returnPV && returnOverallVO.returnPV.rate | rate"></span>
		</div>
	</li>
	<li class="m-online-item">
		<div class="u-online-title">月退货率</div>
		<div class="m-online-content">
			<span class="u-value">
                {{returnOverallVO?.returnPro?.count | rate}}
            </span>
			<span class="u-compare" [innerHTML]="returnOverallVO && returnOverallVO.returnPro && returnOverallVO.returnPro.rate | rate"></span>
		</div>
	</li>
	<li class="m-online-item">
		<div class="u-online-title">月退货成本</div>
		<div class="m-online-content">
			<span class="u-value">
                {{returnOverallVO?.returnCost?.count | numerical}}
            </span>
			<span class="u-compare" [innerHTML]="returnOverallVO && returnOverallVO.returnCost && returnOverallVO.returnCost.rate | rate"></span>
		</div>
	</li>
</ul>