<div class="m-coredata-title">在线商品</div>
<ul class="m-online">
	<li class="m-online-item">
		<div class="u-online-title">在线SPU数</div>
		<div class="m-online-content">
			<span class="u-value">
                {{onlineVO?.onlineSPU?.count | numerical}}
            </span>
			<span class="u-compare" [innerHTML]="onlineVO && onlineVO.onlineSPU && onlineVO.onlineSPU.rate | rate: true"></span>
		</div>
	</li>
	<li class="m-online-item">
		<div class="u-online-title">缺货SKU数</div>
		<div class="m-online-content">
			<span class="u-value">
                {{onlineVO?.lackSKU?.count | numerical}}
            </span>
			<span class="u-compare" [innerHTML]="onlineVO && onlineVO.lackSKU && onlineVO.lackSKU.rate | rate: true"></span>
		</div>
	</li>
	<li class="m-online-item">
		<div class="u-online-title">SKU缺货率</div>
		<div class="m-online-content">
			<span class="u-value">
                {{onlineVO?.lackproSKU?.count | rate}}
            </span>
			<span class="u-compare" [innerHTML]="onlineVO && onlineVO.lackproSKU && onlineVO.lackproSKU.rate | rate: true"></span>
		</div>
	</li>
</ul>