<div class="shade" *ngIf="isShade">
	<span class="text">数据维护中 请稍后访问
	</span> 
</div>
<div class="m-coredata">
	<div class="m-head">
		<div class="m-refresh clear-both">
			<div class="u-time">
				刷新时间：{{refreshTime}}
			</div>
		</div>
		<div class="m-navbar">
			<div class="u-nav-item" (click)="switchTab(0);">总KPI</div>
			<div class="u-nav-item" (click)="switchTab(1);">日销售</div>
			<div class="u-nav-item" (click)="switchTab(2);">类目KPI</div>
			<div class="u-nav-item" (click)="switchTab(3);">库存</div>
			<div class="u-nav-item" (click)="switchTab(4);">爆品</div>
			<div class="u-nav-active u-animation" #navline></div>
		</div>
	</div>
	<div class="m-body">
		<div class="swiper-container" #element>
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<loading *ngIf="activeIndex != 0 && !tabActived[0]"></loading>
					<coredata-kpi *ngIf="activeIndex == 0 || tabActived[0]"></coredata-kpi>
				</div>
				<div class="swiper-slide">
					<loading *ngIf="activeIndex != 1 && !tabActived[1]"></loading>
					<coredata-sale *ngIf="activeIndex == 1 || tabActived[1]"></coredata-sale>
				</div>
				<div class="swiper-slide">
					<loading *ngIf="activeIndex != 2 && !tabActived[2]"></loading>
					<coredata-category *ngIf="activeIndex == 2 || tabActived[2]"></coredata-category>
				</div>
				<div class="swiper-slide">
					<loading *ngIf="activeIndex != 3 && !tabActived[3]"></loading>
					<coredata-store *ngIf="activeIndex == 3 || tabActived[3]"></coredata-store>
				</div>
				<div class="swiper-slide">
					<loading *ngIf="activeIndex != 4 && !tabActived[4]"></loading>
					<coredata-hotgoods *ngIf="activeIndex == 4 || tabActived[4]"></coredata-hotgoods>
				</div>
			</div>
		</div>
	</div>
</div>