<div class="m-store-block" *ngIf="itemList && itemList.length">
    <div class="m-store-item" *ngFor="let item of itemList">
        <span class="m-profit-item-title">{{item.title}}</span>
        <div class="m-profit-item-content">
            <span *ngIf="!item.countRate" class="u-profit-value">{{item.data.count | numerical}}</span>
            <span *ngIf="item.countRate" class="u-profit-value">{{item.data.count | rate}}</span>
            <span class="u-profit-ratio" [innerHTML]="item.data.rate | rate:true"></span>
        </div>
    </div>
</div>