<div class="m-data-box">
    <div class="m-header" *ngIf="header">
        <span class="u-title">{{header.title}}</span>
        <span class="u-total">{{header.total | numerical}}</span>
    </div>
    <div class="m-income-wrap">
        <div class="m-income" *ngIf="itemList && itemList.length>0">
            <div class="m-item" *ngFor="let item of itemList">
                <div class="m-item-title" *ngIf="item.title">{{item.title}}</div>
                <div class="m-item-content">
                    <span class="u-count {{item.class}}">
                    {{item.count | numerical}}
                </span>
                    <span class="u-rate {{item.class}}" [innerHTML]="item.rate | rate:true"></span>
                </div>
            </div>
        </div>
    </div>
</div>