<div class="m-coredata-category">
	<div class="m-content">
		<!--销售-->
		<coredata-category-sales [salesVO]="data.overall && data.overall.salesVO"></coredata-category-sales>
		<!--在线商品-->
		<coredata-category-online [onlineVO]="data.overall && data.overall.onlineVO"></coredata-category-online>
		<!--新老构成-->
		<coredata-category-newold [newoldSPUVO]="data.overall && data.overall.newoldSPUVO" [newoldPVVO]="data.overall && data.overall.newoldPVVO"
			[newoldAccountVO]="data.overall && data.overall.newoldAccountVO"></coredata-category-newold>
		<!--类目指标-->
		<div class="m-coredata-title">类目指标</div>
		<tab-head [tabs]="indicatorTabs" [(model)]="indicator" (modelChange)="indicatorChange($event)"></tab-head>
		<coredata-category-indicator [timeItem]="timeItem" [itemList]="data.FundflowList" [(indicator)]="indicator" *ngIf="indicator==1"></coredata-category-indicator>
		<coredata-category-indicator [timeItem]="timeItem" [itemList]="data.ChangeList" [(indicator)]="indicator" *ngIf="indicator==2"></coredata-category-indicator>
		<coredata-category-indicator [timeItem]="timeItem" [itemList]="data.NewGoodsList" [(indicator)]="indicator" *ngIf="indicator==3"></coredata-category-indicator>
		<!--退货情况-->
		<div [hidden]="timeItem && timeItem.value !== 3">
			<coredata-category-return [returnOverallVO]="data.overall && data.overall.returnOverallVO"></coredata-category-return>
		</div>
	</div>
	<bottom-tab [tabs]="timeConsts" [(model)]="timeItem" (modelChange)="timeItemChange($event);"></bottom-tab>
</div>