
<div class="u-block swiper-no-swiping">
	<table class="table table-condensed table-striped table-bordered">
		<thead>
			<tr *ngIf="indicator === 1">
				<th style="width: 18%;"></th>
				<th>总在库量&占比</th>
				<th>总在库货值&占比</th>
			</tr>
			<tr *ngIf="indicator === 2">
				<th style="width: 18%;"></th>
				<th>总采购中量&占比</th>
				<th>总采购中货值&占比</th>
			</tr>
			<tr *ngIf="indicator === 3">
				<th style="width: 18%;"></th>
				<th>净出库量</th>
				<th *ngIf = "timeItem.value !== 3">可售天数</th>
				<th *ngIf = "timeItem.value === 3">平均库转周转率</th> 
			</tr>
            <tr *ngIf="indicator === 4">
				<th style="width: 18%;"></th>
				<th>入库量&占比</th>
				<th>出库量&占比</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let item of itemList;">
				<td class="table-title">{{item?.name}}</td>
				<td>{{item?.column1?.count | numerical}}
					<span *ngIf="item?.column1?.rate" class="u-compare" [innerHTML]="item.column1.rate | rate"></span>
				</td>
				<td *ngIf="timeItem.value !== 3 || indicator !== 3">{{item?.column2?.count | numerical}}
					<span *ngIf="item?.column2?.rate" class="u-compare" [innerHTML]="item.column2.rate | rate"></span>
				</td>
				<td *ngIf="timeItem.value === 3 && indicator === 3">{{item?.column2?.count | rate}}
					<span *ngIf="item?.column2?.rate" class="u-compare" [innerHTML]="item.column2.rate | rate"></span>
				</td>
			</tr>
		</tbody>
	</table>
</div>