<div class="m-sales">
	<div class="m-sales-item">
		<div class="m-sales-item-title">流水</div>
		<div class="m-sales-item-content">
			<span class="u-value">
            	{{salesVO?.totalAccount?.count | numerical}}
            </span>
			<span class="u-compare" [innerHTML]="salesVO && salesVO.totalAccount && salesVO.totalAccount.rate | rate: true"></span>
		</div>
	</div>
	<div class="m-sales-item">
		<div class="m-sales-item-title">销量</div>
		<div class="m-sales-item-content">
			<span class="u-value">
               {{salesVO?.totalGoodsPV?.count | numerical}}
            </span>
			<span class="u-compare" [innerHTML]="salesVO && salesVO.totalGoodsPV && salesVO.totalGoodsPV.rate | rate: true"></span>
		</div>
	</div>
</div>