<div class="m-coredata-store">
	<div class="m-coredata-store-content">
		<div class="m-profit">
			<coredata-store-item [itemList]="data?.profitVO"></coredata-store-item>
		</div>
		<div class="m-cost">
			<div class="m-cost-title u-store-title">
				成本因子
			</div>
			<div class="m-cost-content">
				<coredata-store-item [itemList]="data?.costElementVO"></coredata-store-item>
			</div>
		</div>
		<div class="m-data">
			<div class="m-data-title u-store-title">
				库存数据
			</div>
			<div class="m-data-content">
				<coredata-store-item [itemList]="data?.atStockVO"></coredata-store-item>
			</div>
			<div class="m-data-content">
				<coredata-store-item [itemList]="data?.initVO"></coredata-store-item>
			</div>
			<div class="m-data-content">
				<coredata-store-item [itemList]="data?.outinStockVO"></coredata-store-item>
			</div>
			<div class="m-data-content">
				<coredata-store-item [itemList]="data?.scrollVO"></coredata-store-item>
			</div>
		</div>
		<div class="m-type">
			<div class="m-type-title u-store-title">
				类目库存
			</div>
			<tab-head [tabs]="indicatorTabs" [(model)]="indicator" (modelChange)="indicatorChange($event)"></tab-head>
			<coredata-store-tab [(timeItem)]="timeItem"  [(indicator)]="indicator" (indicatorChange)="indicatorChange($event);" [itemList]="data.InstockList" *ngIf="indicator==1"></coredata-store-tab>
			<coredata-store-tab [(timeItem)]="timeItem"  [(indicator)]="indicator" (indicatorChange)="indicatorChange($event);" [itemList]="data.InpuchaseList" *ngIf="indicator==2"></coredata-store-tab>
			<coredata-store-tab [(timeItem)]="timeItem"  [(indicator)]="indicator" (indicatorChange)="indicatorChange($event);" [itemList]="data.ScrollList" *ngIf="indicator==3"></coredata-store-tab>
			<coredata-store-tab [(timeItem)]="timeItem"  [(indicator)]="indicator" (indicatorChange)="indicatorChange($event);" [itemList]="data.InoutList" *ngIf="indicator==4"></coredata-store-tab>
		</div>
	</div>
	<bottom-tab [tabs]="timeConsts" [(model)]="timeItem" (modelChange)="timeItemChange($event);"></bottom-tab>
</div>